<%= form_for @subject do |f| %>
<div class="row">
    <div class="col l11">
	<%= f.text_field :name %>
	</div>
	<div class="col l1">
	  <%= f.submit "+",class:"submit-button left btn-floating btn-large waves-effect waves-light red" %>
	</div>
</div>
  
<% end %>