<div class="card-panel">
<div class="row">
	<div class="col s6">
	<h4 class="col l3 offset-l1">SUBJECTS</h4>
	</div>
	<div class="col l2 offset-l4">
	<h4 class="left">New Subject</h4>
	<a class="add-button left btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
	</div>
</div>
</div>
<div id="new-form" class="new-form">
	<%= render 'form', subject: @subject %>
</div>
<% @subjects.each do |subject| %>
 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h3><%= subject.name %></h3></div>
      <div class="collapsible-body">
	  <div><a class="add-button left btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></div><br>
      <p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
  <% end %>



<!-- for alert box -->


  <a class="waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
     <% @subjects.each do |subject| %>
 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h3><%= subject.name %></h3></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
  <% end %>
    </div>

    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>